<section class="calendar-section">
  <img class="mt-5" src="/assets/images/calendar.png" alt="calendar" />

  <div class="mt-4 calendar-container">
    <mat-card class="mb-3">
      <mat-calendar [(selected)]="dateSelected"></mat-calendar>
    </mat-card>

    <div class="inputs ml-3">
      <mat-form-field class="d-block" appearance="fill">
        <mat-label>Quantity</mat-label>
        <input
          [(ngModel)]="quantity"
          type="number"
          matInput
          placeholder="Quantity"
        />
      </mat-form-field>

      <mat-form-field class="d-block" appearance="fill">
        <mat-label>Unit</mat-label>
        <mat-select [(ngModel)]="units">
          <mat-option *ngFor="let item of unitsCatalog" [value]="item.value">
            {{ item.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <p>
        Your result is:
        <span class="result text-danger">{{
          getResult | date : "dd/MM/yyyy"
        }}</span>
      </p>
    </div>
  </div>

  <button class="mt-4" mat-raised-button color="warn" (click)="calculateDate()">
    Calculate
  </button>
</section>
