<section class="form-section">
  <div class="mt-4 form-container">
    <h1 class="text-center">Forms Validators</h1>
    <form [formGroup]="mainForm" class="mt-5">
      <!-- Nombres -->
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Enter your names</mat-label>
        <input
          type="text"
          matInput
          formControlName="nombres"
          placeholder="Names"
        />
        <mat-error *ngIf="mainForm.get('nombres')?.hasError('required')">
          Names are <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <!-- Surnames -->
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Enter your surnames</mat-label>
        <input
          type="text"
          matInput
          formControlName="apellidos"
          placeholder="Surnames"
        />
        <mat-error *ngIf="mainForm.get('apellidos')?.hasError('required')">
          Surnames are <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <!-- Smoke -->
      <div>
        <label>Do you smoke?: </label>
        <mat-radio-group formControlName="fumas">
          <mat-radio-button [value]="true">Yes</mat-radio-button>
          <mat-radio-button [value]="false">No</mat-radio-button>
        </mat-radio-group>
      </div>

      <!-- Reading -->
      <div>
        <label>Do you currently practice reading?: </label>
        <mat-radio-group formControlName="actualmentePracticasLectura">
          <mat-radio-button [value]="true">Yes</mat-radio-button>
          <mat-radio-button [value]="false">No</mat-radio-button>
        </mat-radio-group>
      </div>

      <!-- Latest books -->
      <div *ngIf="actualmentePracticasLectura" formArrayName="librosLeidosUltimosTresMeses" class="books-container">
        <div class="d-flex align-items-center py-3">
          <p class="mb-0">Add a new book:</p>
          <button type="button" class="ml-3 mt-2" mat-mini-fab (click)="addBook()">
            <mat-icon class="add-course-btn">add</mat-icon>
          </button>
        </div>

        <ng-container
          *ngFor="
            let book of librosLeidosUltimosTresMeses.controls;
            let i = index
          "
        >
          <div class="d-flex">
            <mat-form-field class="full-width" appearance="fill">
              <mat-label>Book read in the last 3 months</mat-label>
              <input
                type="text"
                matInput
                [formControlName]="i"
                placeholder="Book's name"
              />
            </mat-form-field>

            <button type="button" class="ml-3 mt-2" mat-mini-fab (click)="removeBook(i)">
              <mat-icon class="add-course-btn">close</mat-icon>
            </button>
          </div>
        </ng-container>
      </div>

      <button
        type="button"
        class="mt-4"
        mat-raised-button
        color="warn"
        (click)="checkForm()"
      >
        Done
      </button>
    </form>
  </div>
</section>
