<app-navbar></app-navbar>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer mode="side" [opened]="isOpen">
    <nav #sidenav class="d-lg-block bg-white p-3">
      <div *ngFor="let option of menu" class="list-group-flush link">
        <a
          (click)="navigate(option.path)"
          class="list-group-item list-group-action py-2 d-flex"
          aria-current="true"
        >
          <mat-icon>{{ option.icon }}</mat-icon>
          <span class="ml-3">{{ option.description }}</span>
        </a>
      </div>
    </nav>
  </mat-drawer>

  <button mat-icon-button class="drawer-toggle" (click)="isOpen = !isOpen">
    <mat-icon *ngIf="isOpen">chevron_left</mat-icon>
    <mat-icon *ngIf="!isOpen">chevron_right</mat-icon>
  </button>

  <div>
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
