.example-container {
  height: 100vh;
}

.example-sidenav-content {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
}

.link {
  width: 200px;
  a {
    color: #000;

    border-radius: 5px;

    &:hover{
      background-color: #17a2b8;
      color: #fff;

      cursor: pointer;
      transition: 0.3s;
      box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    }
  }
}

.drawer-toggle{
  position: absolute;
  top: 20px;

  padding: 0;

  background-color: #f0f0f0;
  border-radius: 0 20px 20px 0;

  mat-icon{
    font-size: 25px;
  }
}