<section class="container my-5 login-section">
  <div class="mb-3 title text-center">
    <img src="/assets/images/Angular.svg" alt="Angular Logo" />
    <h2 class="mt-1">IES Systems Test</h2>
    <p class="mt-2">
      This is an Angular Test for IES Systems, please enter your username and
      password to continue
    </p>
  </div>

  <form [formGroup]="loginFormGroup">
    <mat-form-field class="full-width">
      <mat-label>Enter your username</mat-label>
      <input
        type="text"
        matInput
        formControlName="username"
        placeholder="User"
      />
      <mat-error *ngIf="loginFormGroup.get('username')?.hasError('required')">
        Userename is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width mt-2">
      <mat-label>Enter your password</mat-label>
      <input
        matInput
        formControlName="password"
        [type]="hide ? 'password' : 'text'"
      />
      <button
        type="button"
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      <mat-error *ngIf="loginFormGroup.get('password')?.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <button
      type="submit"
      [disabled]="loginFormGroup.invalid"
      class="mt-4 btn btn-info btn-lg btn-block"
      (click)="onLogin()"
    >
      Login
    </button>
  </form>
  <span class="blockquote-footer mt-5 text-muted text-center"
    >By Francisco Peralta</span
  >
</section>
