<section class="login-section">
  <div class="card">
    <div class="card-body">
      <h1 class="text-center">Login</h1>
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" formControlName="email" />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            formControlName="password"
          />
        </div>
        <button type="submit" class="mt-4 btn btn-info btn-lg btn-block">
          Login
        </button>
      </form>
      <span class="blockquote-footer">By Francisco Peralta</span>
    </div>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
</section>
