<section class="login-section">
  <div class="card">
    <div class="card-body">
      <h1 class="text-center">Login</h1>
      <form [formGroup]="loginFormGroup" (ngSubmit)="onLogin()">
        <div class="form-group">
          <label for="username">User Name</label>
          <input type="text" class="form-control" formControlName="username" />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            formControlName="password"
          />
        </div>
        <button type="submit" [disabled]="loginFormGroup.invalid" class="mt-4 btn btn-info btn-lg btn-block">
          Login
        </button>
      </form>
      <span class="blockquote-footer">By Francisco Peralta</span>
    </div>
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  </div>
</section>
